virtualenv>=16.6.0
pip>=19.1.1
six>=1.14.0
tox
twine
matplotlib~=3.9.0
pydantic~=2.7.1
sqlmodel~=0.0.18

SQLAlchemy~=2.0.30
pydantic_core~=2.18.2

networkx~=3.3
requests~=2.32.2
pytest~=8.2.1

Pint~=0.23
scipy~=1.13.1

graphmix~=0.0.0

pytest-asyncio~=0.23.7
